.flex-view {
  display: flex;
  max-width: 100%;
  margin: 0px auto;
}

header .left_title {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10px;
  padding-top: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}


header .right {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  flex: auto;
}

header .right>.menu {
  display: flex;
  align-items: center;
}

header .right>.menu>.items {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.desktop_menu {
  text-align: center;
  display: block;
}

.mobile_menu {
  text-align: center;
  display: none;
}


main {
  font-size: 20px;
}

section {
  position: relative;
  top: 37px;
  margin: 0;
  padding: 0;
  background-color: white;
}

main>section.keyvisual {
  background-color: #BBFFEE;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 45px;
  weight: auto;
  height: 250px;
}

section>.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  color: white;
}

section>.greeting>.text {
  width: auto;
  height: auto;
}

section>.greeting>.text>.title {
  font-size: 2em;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  width: auto;
}

.range {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 25px;
}

.range_top {
  align-items: center;
  justify-content: center;
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  max-width: 1200px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.top_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 50px;
  background-color: #BBFFEE;
}

.landscape_head {
  width: 80px;
  height: 50px;
}

.promotion {
  display: flex;
  align-items: center;
  color: black;
  width: 290px;
  height: 50px;
  padding-left: 10px;
  background-color: #BBFFEE;
}

.top_mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 50px;
  background-color: #BBFFEE;
}


.top_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 50px;
  background-color: #BBFFEE;
}

.self_def_area {
  align-items: center;
  justify-content: center;
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 1200px;
  width: 100%;
  min-height: 500px;
  height: auto;
  margin-bottom: 20px;
}

.individual1 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}

.individual2 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}

.individual3 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}

.individual4 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}

.individual5 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}

.individual6 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}


.individual7 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}

.individual8 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}

.individual9 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}

.individual10 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}

.individual11 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}

.individual12 {
  width: 100%;
  background-color: #BBFFEE;
  height: 100%;
}

.landscape {
  width: 100%;
  height: 85%;
}

.title_text {
  position: relative;
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 3px;
  width: 100%;
  color: black;
  font-size: 20px;
}

@media screen and (min-width: 360.01px) and (max-width: 600px) {
  .desktop_menu {
    display: none;
  }

  .mobile_menu {
    display: block;
  }

  .hamburger {
    padding-top: 9px;
    align-items: center;
  }

  .items {
    width: 90%;
  }

  section>.greeting>.text {
    width: auto;
    height: auto;
  }

  section>.greeting>.text>.title {
    font-size: 1.85em;
    white-space: nowrap;
    width: 90%;
  }

  .range_top {
    display: grid;
    width: 90%;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .top_left {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .top_mid {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .top_right {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }


  .self_def_area {
    align-items: center;
    justify-content: center;
    position: relative;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin-top: 140px;
  }


  .individual1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }


  .individual7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .landscape {
    width: 100%;
    height: 85%;
    object-fit: cover;
  }

  .title_text {
    position: relative;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 1px;
    width: 100%;
    height: 15%;
    color: black;
    font-size: 20px;
  }
}

@media screen and (min-width: 600.01px) and (max-width: 1200px) {
  .range_top {
    display: grid;
    width: 90%;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .top_left {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .top_mid {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .top_right {
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .self_def_area {
    align-items: center;
    justify-content: center;
    position: relative;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin-top: 70px;
  }


  .individual1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }


  .individual7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .individual12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #BBFFEE;
    height: 100%;
  }

  .landscape {
    width: 100%;
    height: 85%;
    object-fit: cover;
  }

  .title_text {
    position: relative;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 1px;
    width: 100%;
    height: 15%;
    color: black;
    font-size: 20px;
  }
}